#skills {
  background-color: $white-color;
  margin-top: -10rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }
  
  img{
    margin: 10px;
  }
  .skills-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }
    .row {
          margin-bottom: 8rem;

          @include respond(phone) {
            margin-bottom: 4rem;
          }
        }
        &__image {
          width: 90%;
          margin: 0 auto;

          @include respond(tab-land) {
            width: 100%;
            margin: 0;
          }

          & .thumbnail {
            border: none;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            transition: all 0.2s ease-out;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
            transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
              0.5s box-shadow,
              0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

          @include respond(phone) {
            border: 1px solid #d2d2d2;
            box-shadow: none;
            margin-bottom: 3.2rem;
          }
        }
      }
    }
  }